<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkingmobileapp" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingMobileApp" >
        <activity
            android:name=".MarinaLayout"
            android:exported="false" />
        <activity
            android:name=".Layout3"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity2"
            android:exported="false"
            android:label="@string/title_activity_login2" />
        <activity
            android:name=".forgetPassword"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LuluActivity"
            android:exported="true" />
        <activity
            android:name=".WadiActivity"
            android:exported="true" />
        <activity
            android:name=".P90Activity"
            android:exported="true" />
        <activity
            android:name=".BankActivity"
            android:exported="true" />
        <activity
            android:name=".ParkingLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ParkedInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>